<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcc.acs_cadastro_mobile">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:name="android.support.multidex.MultiDexApplication">
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.LoginActivity" />
        <activity
            android:name=".views.CitizenAddActivity"
            android:label="@string/title_activity_add_citizen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ResidenceAddActivity"
            android:label="@string/title_activity_add_residence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.AccompanyAddActivity"
            android:label="@string/title_activity_add_accompany"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.VisitAddActivity"
            android:label="@string/title_activity_add_visit"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.CalendarActivity"
            android:theme="@style/AppTheme.FloatingTheme" />
        <activity
            android:name=".views.ResidenceNewResponsibleActivity"
            android:theme="@style/AppTheme.FloatingTheme" />
    </application>

</manifest>